---
layout: default
---
<div class="container">
	<div class="d-md-flex flex-md-equal py-3 text-white">
		
		<div class="p-3 overflow-hidden w-100 my-auto text-center">
			<img src="{{ "/assets/images/microos-logo.svg" | prepend: site.baseurl }}" style="max-width:200px;">
			<h1 class="display-4 font-weight-normal">{{ site.title }}</h1>
			<p class="lead font-weight-normal">{{ site.description }}</p>
                        <p>Designed to host container workloads with automated administration & patching.
                          Installing openSUSE MicroOS you get a quick, small
                          environment for deploying Containers, or any other
                          workload that benefits from Transactional
                          Updates. As rolling release distribution the
                          software is always up-to-date.</p>
                        {% for link in site.data.links %}
			<a class="btn btn-{{ link.color }} mb-2" href="{{ link.link }}">
			  {% include icons/{{ link.icon }}.svg %}
			  <span class="hidden-xs-down" lang="en">{{ link.name }}</span>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

<div class="position-relative overflow-hidden w-100 bg-dark text-white">
	<div class="container">
		<div class="row">
			{% for feature in site.data.features %}
			<div class="col-md-6 p-5 mb-auto">
				<h1 class="display-4 font-weight-normal">{% if feature.icon %}{% include icons/{{ feature.icon }}.svg %} {% endif %}{{ feature.name }}</h1>
				<p class="lead font-weight-normal">
					{{ feature.rundown }}
				</p>
				{{ feature.description | markdownify }}
				{% for link in feature.links %}
				<a class="btn btn-{{ link.color }} mb-2" href="{{ link.link }}">
					{% include icons/{{ link.icon }}.svg %}
					<span class="hidden-xs-down" lang="en">{{ link.name }}</span>
				</a>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div id="hardware" class="position-relative overflow-hidden w-100">
  <div class="container">
    <div class="row">
      {% for requirement in site.data.requirements %}
      <div class="col-md-6 p-5 mb-auto">
	<h1 class="display-4 font-weight-normal">{% if requirement.icon %}{% include icons/{{ requirement.icon }}.svg %} {% endif %}{{ requirement.name }}</h1>
	<p class="lead font-weight-normal">
	  {{ requirement.rundown }}
	</p>
	{{ requirement.description | markdownify }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
