---
layout: default
title:	"Blog"
---
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="{{ "/" | prepend: site.baseurl}}"><img src="/assets/images/symbolic.svg" class="mr-1" style="height:1em; vertical-align:middle;">{{ site.title_short }}</a></li>
	<li class="breadcrumb-item active" aria-current="page">Blog</li>
</ol>
<div class="container my-3">
	<div class="col-12 col-lg-9 mx-3 mx-auto">
		<div class="row">
			{% for post in paginator.posts %}
			{% include single-post.html %}
			{% endfor %}
			{% include pagination.html %}
		</div>
	</div>
</div>
